* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", serif;
    font-weight: 300; 
    font-style: normal;
}
h1, h2, h3{
    color: #2F4F4F;
}
 p, a {
    color: #36454F;
}

.home {
    width: 100%;
    background: url("../assets/images/grayLight.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
   }
.navbar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
 }
.navbar .logo {
    width: 15rem;
    margin-left: 5rem;
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}
ul li {

    list-style: none;
}
ul li a {
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: #2F4F4F;
    margin-top: -3%;
    transition: .4s ease;

}

ul li a:hover {
    color: #FF7043;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    flex-wrap: wrap;
   
}
.info {
    margin-left: 7%;
    margin-top: 25%;
    width: 60%;
}
.info h1 {
    font-size: 65px;
    
}
.info h3 {
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 2rem;
}

.info span {
    color: #FF7043;
}


.image {
    width: 60%;
    height: 90%;
    position: absolute;
    right: 100px;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
.image img {
    position: absolute;
    height: 100%;
    left: 60%;
    transform: translate(-30%);
    bottom: 0;
    transition: transform 0.5s ease, left 0.5s ease; 
    }
.image:hover img {
    transform: translate(-25%); 
}
.social {
    list-style: none;
    display: flex;
    margin-left: 2%;
}   
.social-list {
    list-style: none;
    display: flex;
}
.social a {
    font-size: 40px;
    transition: .4s ease;
  }
.social li {
    margin-right: 4rem;

}

.social a:hover {
    color: #FF7043;
}

.about-me {
    width: 100%;
    background: url("../assets/images/grey.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.about-title h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding-top: 3rem;

}
.text-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem;
   
}
.text-about .picture {
    width: 30em;
    margin-right: 2rem;
    border-radius: 15rem;
    border-right: 5px solid black;
}
.text-about p {
    width: 50%;
    text-align: left;
    font-size: 2rem;
}
.skill {
    text-align: center;
    padding: 1rem;
    position: relative;
    background-color: #F0F0F0;

}
.skill::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: rgb(230, 104, 59);
    
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: left;
    
    gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
    background-color: #F0F0F0;
}
.skill-box {
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.skill-box:hover {
    transform: translateY(-10px);
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;

}
.skill-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 35px;
    height: 4px;
    background-color: #FF7043;
    ;
    border-radius: 2px 0 0 2px;
}

.skill-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 35px;
    height: 4px;
    background-color: rgb(230, 104, 59);
    ;
    border-radius: 0 2px 2px 2px 0;
}

.imge {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.skill-title h3 {
    margin-top: 0.5rem;
}

.skill-icon {
    width: 70px;

}
.projects {
    padding: 2rem;
    text-align: center;
}

.projects h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.projects p {
    margin-bottom: 3rem;
    font-size: 1.2rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-card h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.project-card p {
    padding: 0 1rem;
    font-size: 1rem;
}

.project-link {
    display: inline-block;
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: #FF7043;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.project-link:hover {
    background-color: darkorange;
}
.contact {
    padding: 2rem;
    text-align: center;
    background-image: url(../assets/images/contactGray.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.contact-info {
    flex: 1;
    min-width: 300px;
    text-align: left;
    margin-right: 2rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.contact-info a {
    color:#FF7043;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-form {
    flex: 1;
    min-width: 300px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    padding: 2rem;
    text-align: left;
}

.form-group {
    margin-bottom: 1rem;
}

.contact-form label {
    display: block;
    margin-bottom: 0.5rem;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color:#FF7043;
    color: white; 
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s; 
}

.contact-form button:hover {
    background-color: #FF7043;
    transform: scale(1.05); 
}

.back-to-home {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px; 
    color: black; 
    text-align: center;
    text-decoration: none;
  
    z-index: 1000;
    transition: color 0.3s ease; 
}

.back-to-home:hover {
    color: #FF7043; 
}
footer {
    background-color: #36454F;
    padding: 20px 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.footer-content {
    display: flex;
    align-items: center; 
}

.socials {
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: 2rem;
}

.socials li {
    margin-right: 9px;
}

.socials li a {
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
}

.socials li a:hover {
    color: #FF7043; 
}

footer {
    background-color: #36454F;
    color: white;
    padding: 20px 0;
}
.footer-bottom {
    text-align: center;
    font-size: 0.9rem;
}
.footer-bottom p {
   color: white;
}
@media (max-width: 1078px) {
    .text-about p {
        font-size: 1.7rem;
        
    }
    .about-image-container {
        display: none;
    }
}
@media (min-width: 1025px) {
    .info-container {
        flex-direction: row; 
        justify-content: space-between; 
    }
    .about-image-container {
        display: none;
    }

    .info {
        margin-left: 0; 
        margin-top: 50px; 
        width: 50%;
    }
}
@media (min-width: 768px) {
    .contact-form,
    .contact-info {
    flex: 1;
    }
  

.contact-container {
    display: flex;
    align-items: flex-start;
    
}
.contact-form{
    margin: 0;

}
.contact-info {
    margin-bottom: 2rem;
    text-align: left;
    display: flex; 
    flex-direction: column;
    align-items: flex-start; 
}

.contact-info p {
    margin-bottom: 2rem;
    font-size: 1.5rem; 
    margin: 0.5rem 0;
    line-height: 1.6; 
}
.nav-links {
    display: flex; 
}

}

@media (max-width: 1024px) {
    .home {
        height: auto;
        padding: 2rem 0;
    }
    .about-image-container {
        display: none;
    }

    .info-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .info {
        margin-left: 0;
        margin-top: 20px;
        width: 80%;
        text-align: center;
    }

    .info h1 {
        font-size: 48px;
    }

    .info h3 {
        font-size: 20px;
    }

    .image {
        width: 80%;
        position: relative;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 992px) {

    .logo {
        width: 10rem;

    }
    .about-image-container {
        display: none;
    }

    ul li a {
        font-size: 14px;

        padding: 10px 8px;
        margin-bottom: 10px;

    }

    .container {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
    .text-about p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
  
    .navbar .logo {
        width: 10rem;
    }

    ul {
        width: 70%;
        margin-left: 17%;
    }

    .social a {
        font-size: 40px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;

    }

    .image {
        display: none;
    }
   

    .logo {
        width: 7rem;
        margin-bottom: 10px;
    }

    ul {
        width: 100%;
        justify-content: center;
    }

    ul li a {
        font-size: 12px;
        padding: 1rem;

    }

    .info-container {
        flex-direction: column; 
        align-items: flex-start; 
    }
    
    .info {
        width: 100%; 
        margin: 0; 
    }

    .info h1 {
        font-size: 3rem;
        text-align: center;

    }

    .info h3 {
        font-size: 20px;
        text-align: center;
    }

    .image {
        width: 100%;
        position: relative;
        right: 0;
        bottom: 0;
    }

    .image img {
        left: 50%;
        transform: translate(-50%);
        height: auto;
    }
    .text-about p {
       font-size: 2.5rem;
    }

    .text-about img {
        display: none;
    }
    .text-about .picture {
        width: 80%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .text-about p {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
    }

    .container {
        grid-template-columns: 1fr;
    }
  
}
@media (max-width: 480px) {
  
    .text-about p {
        font-size: 1.2rem;
        text-align: left;
    }

    ul  {
        margin-left: 14%;
    }

    ul li a {
        font-size: 9px;
    }

    .info-container {
        width: 70%;
        display: flex;
        align-items: center;
    }

    .about-me h2 {
        font-size: 2rem;
    }

    .info {
        margin-left: 0; 
        margin-top: 25%;
        width: 100%;
    }

    .info h1 {
        font-size: 1.8rem; 
        text-align: left;
    }

    .info h3 {
        font-size: 1rem;
        text-align: left;
    }

    .social a {
        font-size: 30px;
       
    }

    h1, h2 {
        margin-top: 20px;
        text-align: center;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .about-image {
        display: block;
     }

    .content-wrapper {
        padding: 20px;
    }
    .about-image-container {
        display: block;
        text-align: center; 
    }
    .info{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .info-container{
        width: 100%;
    }
    .info h3{
        display: none;
    }
    .home{
        padding: 0;
    }

    .about-image {
        max-width: 100%; 
        height: auto; 
        margin-top: 20px;
        border-radius: 100px;
    }
    .info h1, .info h2 {
        margin: 0; 
        text-align: center; 
    }
    .project-card:hover {
    transform: none;
    box-shadow: none;
}



}
